.nav{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 9999;
    font-family: "Poppins",sans-serif;
}


.nav .sideMenu{
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 4px red;
    height: 100%;
    width: 100%;
    padding-left: 2vmin;
    background-color: rgb(255, 255, 255);
    transition: all 0.7s ease-in-out;
    justify-content: center;
    text-align: center;
}


.sideMenuOpen {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .sideMenuClosed {
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
  }
  

.nav .cut{
    position: absolute;
    top: 3%;
    right: 5%;
}

.nav .sideMenu .navigation{
    position: absolute;
    top: 25%;
    left: 40%;
    gap: 18vmin;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.nav .logo{
    font-size: 2em;
    font-family: "Poppins",sans-serif;
    font-weight: bold;

}
.nav .logo span{
    color: red;
}


.nav .navigation{
    font-family: "poppins",sans-serif;
    display: flex;
    list-style-type: none;
    gap: 3vmin;
}


.nav .navigation li a{
    font-size: 1em;
    font-weight: 450;
}




.nav .button{
    padding: 8px;
    background-color: black;
    border-radius: 50%;
}


.nav .button img{
    width: 25px;
}


.nav .humburger{
    font-weight: bold;
    display: none;
     font-size:1.1em ;
}



@media screen and (max-width:800px){
    .nav .humburger{
        
        display: block;
    }

    .nav .navigation{
        display: none;
    }

    .nav .logo{
        font-size: 1.6em;
    
    }

    .nav .button{
        padding: 6px;
    }
    .nav .button img{
        width: 20px;
    }
    
    
}






@media screen and (max-width:500px){
    .nav{
        justify-content: space-between;
    }
    
}